body {
    display: grid;
    justify-content: center;
    align-items: center;
}

h1,h2 {
    text-align: center;
}

.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(180, 194, 209);
}

.grid div {
    border: 2px solid rgb(100, 100, 100);
    height: 36px;
    width: 36px;
    font-size: 25px;
}

.bomb {
    text-align: center;
}

.checked {
    background-color: rgb(250, 234, 247);
    text-align: center;
    font-weight: bold; 
}

#btn {
    display: none;
    font-weight: bolder;
}

/* each box to be of 40px, and grid has 10x10 boxes*/