body {
    display: grid;
    justify-content: center;
    align-items: center;
}

.grid {
    height: 400px;
    width: 400px;
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    background-color: rosybrown;
}

.grid div {
    height: 40px;
    width: 40px;
}

.bomb {
    background-color: purple;
}

.checked {
    background-color: white;
    text-align: center;
}

/* each box to be of 40px, and grid has 10x10 boxes*/